<%= form_for([@product, @order]) do |orders_form| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <!-- Lists all products and gives a default quantity 
       of 1 for the product selected -->
  <% @products.each do |product| %>
    <%= product.name %>
    <%= product.description %>
    <%= product.price %>
    <%= field_set_tag do %>
      <% if product.id == @product.id %>
        <%= text_field_tag "products[#{product.id}][quantity]", 1  %>
      <% else %>
        <%= text_field_tag "products[#{product.id}][quantity]", 0  %>
      <% end %>
    <% end %>
  <% end %>

  <br />
  <p>Tax<p>
  <p>Shipping<p>
  <p>Total<p>

  <h1>Shipping Information</h1>
  <%= orders_form.fields_for :account do |u| %>
    <div class="form-group">
      <%= orders_form.label :name %>
      <%= u.text_field :full_name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= orders_form.label :email %>
      <%= u.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= orders_form.label :address %>
      <%= u.text_field :street, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= orders_form.label :city %>
      <%= u.text_field :city, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= orders_form.label :state %>
      <%= u.text_field :state, class: "form-control" %>
    </div>
  <% end %>
  
  <h1> Credit Card Information </h1>
  <div id="stripe_error" class="alert alert-danger" style="display:none">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
    </noscript>
  </div>
  <div class="form-group">
        <div class="row">
          <div class="col-md-8">
            <%= label_tag :card_number, "Credit Card Number" %>
            <%= text_field_tag :card_number, nil, { :name => nil, :'data-stripe' => "number", class: "form-control" } %>
          </div>
          <div class="col-md-4">
            <%= label_tag :card_code, "CVC" %>
            <%= text_field_tag :card_code, nil, { :name => nil, :'data-stripe' => "cvc", class: "form-control" } %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <%= label_tag nil, "Expiration Date" %>
        <div class="row">
          <div class="col-md-3">
            <%= select_month nil, { use_two_digit_numbers: true }, { :name => nil, :'data-stripe' => "exp-month", class: "form-control" } %>
          </div>
          <div class="col-md-3">
            <%= select_year nil, { start_year: Date.today.year, end_year: Date.today.year+10 }, { :name => nil, :'data-stripe' => "exp-year", class: "form-control" } %>
          </div>
        </div>
      </div>

  <p>Checkout - no account required!</p>
  <div class="actions">
    <%= orders_form.submit "Checkout", class: "btn btn-success" %>
  </div>
  <p>Or checkout using PayPal<p>
  <div class="actions">
    <%= orders_form.submit "Checkout With Paypal", :type => :image, :src => "https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif" %>
  </div>

<% end %>
